*.iml
.gradle/*
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/main/res/drawable/
.idea/compiler.xml
.idea/copyright/
.idea/dictionaries/
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/sonarIssues.xml
.idea/vcs.xml
.idea/*
gradle/
gradlew
settings.gradle
app/src/main/res/drawable/
